.experience-page {
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 150px;
    background-image:
        url("../../assets/img/world1.jpg");
    transition: 0.5s linear;

    &.dark {

        background-image:
            url("../../assets/img/dark-world1.jpg");
    }

}

@media screen and (max-width: 768px) {
    .experience-page {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 50px;
    }

}