.card {
    width: 300px;
    height: fit-content;
    background-color: lightgray;
    padding: 10px;
    border: 5px solid;
    border-radius: 20%;
    border-color: rgb(197, 120, 20);
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    animation: fadeIn 2s;

    &:hover {
        transform: translateX(-8px);
        box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.35);
    }

    &.dark:hover {
        box-shadow: -4px -3px 45px 21px rgb(250, 250, 250);
    }
}

.title {
    height: 70px;
}

.time {
    height: 40px;
}

.card-description {
    height: 100px;
    text-align: center;
}

.toggle {
    &:hover {
        cursor: pointer;
        font-size: large;
        font-weight: 500;
    }
}