//variables
$photoSize: 280px;
$photoBorderRadius: 30%;
$marginTop: 100px;
$leftsideWidth: 40vw;
$rightsideWidth: 60vw;
$descriptionPadding: 50px;
$titlePadding: 70px;
$gold-details: rgb(197, 120, 20);
$border: 5px solid;

@mixin desktopWindow {
    width: 100vw;
    height: 75vh;
}

.aboutme-page {
    @include desktopWindow;
    display: flex;
    justify-content: space-around;
    background-image: url("../../assets/img/world1.jpg");
    transition: 0.5s linear;

    &.dark {
        background-image: url("../../assets/img/dark-world1.jpg");
        color: white;
    }
}

.about-leftside {
    width: $leftsideWidth;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s;
}

.about-rightside {
    margin-right: 30px;
    width: $rightsideWidth;
    animation: fadeIn 2.5s;
    border: $border;
    border-radius: $photoBorderRadius;
    border-color: $gold-details;
}

.about-description {
    padding: $descriptionPadding;
    text-align: justify;
    padding-top: 60px;
    font-size: larger;
    font-weight: 600;
}

.about-title {
    padding-top: $titlePadding;
}

.about-name,
.about-place {
    padding: 20px;
    border: $border;
    border-radius: $photoBorderRadius;
    border-color: $gold-details;
    font-size: larger;
    font-weight: 700;
}

.photo {
    margin-top: $marginTop;
    width: $photoSize;
    height: $photoSize;
    border: $border;
    border-radius: $photoBorderRadius;
    border-color: $gold-details;
}

@media screen and (max-width: 768px) {
    .aboutme-page {
        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-leftside {
        max-height: 550px;
        width: 100vw;
    }

    .about-rightside {
        margin-top: 50px;
        height: 100%;
        width: 100vw;
        margin-right: 0;
    }

    .about-description,
    .about-title {
        padding-top: 10px;
    }

}