//Variables
$gold-details: rgb(197, 120, 20);
$gold-background: goldenrod;

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 120px;
    transition: 0.5s linear;
    border-bottom: 5px solid;
    border-color: $gold-details;
    background-image:
        url("../../assets/img/world.jpg");

    &.dark {
        background-image:
            url("../../assets/img/dark-world.jpg");
        color: white;
    }
}

.navbar-middle {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-weight: 500;
}

.navbar-item {
    padding: 7px;

    &:hover {
        cursor: pointer;
        transform: translateY(3px);

    }
}

.webCV {
    margin-top: 60px;
    margin-left: 15px;
    height: 140px;
    border: 5px solid;
    border-color: $gold-details;
    border-radius: 25%;
    background-color: $gold-background;
    padding-top: 15px;
    width: 250px;
}

.navbar-container-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        display: none;
    }

    .navbar-container-mobile {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
        font-weight: 500;
        background-image:
            url("../../assets/img/world.jpg");
        transition: 0.5s linear;
        border-bottom: 3px solid;

        &.dark {
            background-image:
                url("../../assets/img/dark-world.jpg");
            color: white;
        }
    }

    .mobile-menu-button {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 3px solid;
        border-color: $gold-details;
        background-color: $gold-background;
        color: $gold-details;
        font-size: large;
        font-weight: 700;
    }

    .navbar-item {
        font-weight: 700;
        text-decoration: underline;

        &.dark {
            background-color: black;
        }
    }
}