// Variables
$default-desktop-width: 100vw;
$default-image-transition: 0.5s linear;

.footer {
    width: $default-desktop-width;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    font-weight: 700;
    border-top: 3px solid;
    border-color: rgb(197, 120, 20);
    transition: $default-image-transition;
    background-image:
        url("../../src/assets/img/world.jpg");

    &.dark {
        background-image:
            url("../../src/assets/img/dark-world.jpg");
        transition: $default-image-transition;
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin-left: 0;
        margin-right: 0;
    }
}